ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 101, 143);
}


h1 {
  color: rgb(208, 29, 59);
}

li, .link {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
